In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("movies.csv")

### Explore the dataset

In [3]:
print("=============================================================================================================================")
print("Dataset Before Cleaning")
print("=============================================================================================================================")
df.head()

=============================================================================================================================
Dataset Before Cleaning
=============================================================================================================================

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [4]:
# Dataset Overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [5]:
# Check for missing values
df.isna().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [6]:
# Check the percentage of missing values
missing_percentages = (df.isna().sum() / len(df)) * 100
print(missing_percentages)

MOVIES       0.000000
YEAR         6.440644
GENRE        0.800080
RATING      18.201820
ONE-LINE     0.000000
STARS        0.000000
VOTES       18.201820
RunTime     29.582958
Gross       95.399540
dtype: float64

In [7]:
# Check the sum of duplicates 
df.duplicated().sum()

431

### Data Cleaning

In [8]:
# Cleaning YEAR column
df['YEAR'] = df['YEAR'].str.extract(r'(\d{4})').astype(float)
df['YEAR']

0       2021.0
1       2021.0
2       2010.0
3       2013.0
4       2021.0
         ...
9994    2021.0
9995    2021.0
9996    2022.0
9997    2021.0
9998    2021.0
Name: YEAR, Length: 9999, dtype: float64

In [9]:
# Cleaning GENRE column
df['GENRE'] = df['GENRE'].str.replace(r'\\n', '').str.strip()
df['GENRE']

0           Action, Horror, Thriller
1       Animation, Action, Adventure
2            Drama, Horror, Thriller
3       Animation, Adventure, Comedy
4              Action, Crime, Horror
                    ...
9994       Adventure, Drama, Fantasy
9995    Animation, Action, Adventure
9996              Documentary, Sport
9997       Adventure, Drama, Fantasy
9998       Adventure, Drama, Fantasy
Name: GENRE, Length: 9999, dtype: object

In [10]:
df['ONE-LINE']

0       \nA woman with a mysterious illness is forced ...
1       \nThe war for Eternia begins again in what may...
2       \nSheriff Deputy Rick Grimes wakes up from a c...
3       \nAn animated series that follows the exploits...
4       \nA prequel, set before the events of Army of ...
                              ...
9994                                       \nAdd a Plot\n
9995                                       \nAdd a Plot\n
9996                                       \nAdd a Plot\n
9997                                       \nAdd a Plot\n
9998                                       \nAdd a Plot\n
Name: ONE-LINE, Length: 9999, dtype: object

In [11]:
# Cleaning ONE-LINE column
df['ONE-LINE'] = df['ONE-LINE'].str.replace(r'\\n', '').str.strip()
df['ONE-LINE']

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel, set before the events of Army of th...
                              ...
9994                                           Add a Plot
9995                                           Add a Plot
9996                                           Add a Plot
9997                                           Add a Plot
9998                                           Add a Plot
Name: ONE-LINE, Length: 9999, dtype: object

In [12]:
# Replace "Add a plot" with "Unknown"
df['ONE-LINE'] = df['ONE-LINE'].replace('Add a Plot', 'Unknown')
df['ONE-LINE']

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel, set before the events of Army of th...
                              ...
9994                                              Unknown
9995                                              Unknown
9996                                              Unknown
9997                                              Unknown
9998                                              Unknown
Name: ONE-LINE, Length: 9999, dtype: object

In [13]:
# Clean the STARS column
df['STARS']

0       \n    Director:\nPeter Thorwarth\n| \n    Star...
1       \n            \n    Stars:\nChris Wood, \nSara...
2       \n            \n    Stars:\nAndrew Lincoln, \n...
3       \n            \n    Stars:\nJustin Roiland, \n...
4       \n    Director:\nMatthias Schweighöfer\n| \n  ...
                              ...
9994    \n            \n    Stars:\nMorgan Taylor Camp...
9995                                                   \n
9996    \n    Director:\nOrlando von Einsiedel\n| \n  ...
9997    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
9998    \n    Director:\nJovanka Vuckovic\n| \n    Sta...
Name: STARS, Length: 9999, dtype: object

In [14]:
# Define a function to extract 'Director' and 'Stars' from the STARS column
def extract_director_stars_info(text):
    """
    Extracts 'Director' and 'Stars' information from a given text.
    Args:
    - text (str): The text to extract information from.
    
    Returns:
    - tuple: Contains the extracted director and stars (both as strings).
    """
    # Use a dictionary for pattern-based extraction
    info = {'Director': None, 'Stars': None}
    
    # Check and extract 'Director' information if present
    if 'Director:' in text:
        # Locate and clean 'Director' value
        info['Director'] = text.split('Director:\n')[1].split('\n|')[0].strip()
    
    # Check and extract 'Stars' information if present
    if 'Stars:' in text:
        # Extract 'Stars' and remove unnecessary whitespaces
        info['Stars'] = text.split('Stars:\n')[1].strip()
    
    return info['Director'], info['Stars']

In [15]:
# Apply the extract_director_stars_info function to the 'STARS' column
# Use .apply() with expand=True to separate Director and Stars into separate columns
df[['Director', 'Stars']] = df['STARS'].apply(
    lambda x: pd.Series(extract_director_stars_info(x))
)

# Drop the original 'STARS' column after extraction
df.drop('STARS', axis=1, inplace=True)

# Clean the 'Stars' column further
# Replace any extra spaces with single spaces, or set value to 'Unknown' if invalid
df['Stars'] = df['Stars'].apply(
    lambda x: ' '.join(x.split()) if isinstance(x, str) and x.strip() != 'Unknown' else 'Unknown'
)

In [16]:
df[['Director', 'Stars']].head()

                Director                                              Stars
0        Peter Thorwarth  Peri Baumeister, Carl Anton Koch, Alexander Sc...
1                   None  Chris Wood, Sarah Michelle Gellar, Lena Headey...
2                   None  Andrew Lincoln, Norman Reedus, Melissa McBride...
3                   None  Justin Roiland, Chris Parnell, Spencer Grammer...
4  Matthias Schweighöfer  Matthias Schweighöfer, Nathalie Emmanuel, Ruby...

In [17]:
# Converting VOTES to numeric
df['VOTES'].dtype

dtype('O')

In [18]:
# Remove the comma and convert data type to float
df['VOTES'] = df['VOTES'].str.replace(',', '').astype(float)

In [19]:
df['VOTES'].dtype

dtype('float64')

In [20]:
df['Gross'].value_counts()

Gross
$0.01M     22
$0.02M     16
$0.00M     15
$0.03M     10
$0.04M      9
           ..
$37.77M     1
$44.82M     1
$21.36M     1
$54.76M     1
$10.40M     1
Name: count, Length: 332, dtype: int64

In [21]:
# Preprocess Gross column to remove non-numeric characters
df['Gross'] = df['Gross'].str.replace(r'[^\d.]', '', regex=True).astype(float)

In [22]:
# Dealing with Missing values
df.isnull().sum()

MOVIES         0
YEAR         748
GENRE         80
RATING      1820
ONE-LINE       0
VOTES       1820
RunTime     2958
Gross       9539
Director    4643
Stars          0
dtype: int64

In [23]:
# Fill numeric columns with median
numeric_cols = ['YEAR', 'RATING', 'VOTES', 'RunTime', 'Gross']
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

# Fill GENRE with the mode
df['GENRE'] = df['GENRE'].fillna(df['GENRE'].mode()[0])

# Fill Director with "Unknown"
df['Director'] = df['Director'].fillna('Unknown')

# Verify missing values are handled
print(df.isnull().sum())

MOVIES      0
YEAR        0
GENRE       0
RATING      0
ONE-LINE    0
VOTES       0
RunTime     0
Gross       0
Director    0
Stars       0
dtype: int64

In [24]:
# dropping duplicates

df = df.drop_duplicates()

In [25]:
df.duplicated().sum()

0

In [26]:
df['YEAR'] = df['YEAR'].astype(int)
df['RunTime'] = df['RunTime'].astype(int)
df['VOTES'] = df['VOTES'].astype(int)

In [27]:
# Detect and remove outliers using IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    # Filter the dataset
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

# List of numeric columns to check for outliers
numeric_cols = ['RATING', 'VOTES', 'RunTime', 'Gross']

for col in numeric_cols:
    df = remove_outliers(df, col)

In [28]:
print("=============================================================================================================================")
print("Dataset After Cleaning")
print("=============================================================================================================================")
df.head()

=============================================================================================================================
Dataset After Cleaning
=============================================================================================================================

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
4,Army of Thieves,2021,"Action, Crime, Horror",7.1,"A prequel, set before the events of Army of th...",789,60,6.145,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."
24,He-Man and the Masters of the Universe,2021,"Animation, Action, Adventure",7.1,Eternia's Prince Adam discovers the power of G...,789,60,6.145,Unknown,Unknown
64,Resort to Love,2021,"Comedy, Romance",5.7,"Erica, who ends up as the entertainment at her...",1591,101,6.145,Steven K. Tsuchida,"Christina Milian, Tymberlee Hill, Kayne Lee Ha..."
74,Feels Like Ishq,2021,"Comedy, Drama, Romance",6.6,Short films follow young adults as they naviga...,848,32,6.145,Unknown,"Jojo Singh, Mihir Ahuja, Kajol Chugh, Sumali K..."
81,Sky Rojo,2021,"Action, Adventure, Crime",6.5,"Coral, Wendy, and Gina go on the run in search...",6940,31,6.145,Unknown,"Verónica Sánchez, Miguel Ángel Silvestre, Asie..."

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7002 entries, 4 to 9998
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    7002 non-null   object
 1   YEAR      7002 non-null   int32
 2   GENRE     7002 non-null   object
 3   RATING    7002 non-null   float64
 4   ONE-LINE  7002 non-null   object
 5   VOTES     7002 non-null   int32
 6   RunTime   7002 non-null   int32
 7   Gross     7002 non-null   float64
 8   Director  7002 non-null   object
 9   Stars     7002 non-null   object
dtypes: float64(2), int32(3), object(5)
memory usage: 519.7+ KB